{% extends "base.html" %}
		{% block content %}

		{% load thumbnail %}
			<div class="row">
			<center>
			{% for i in res_tuple %}
				
					{% thumbnail item.image i crop="center" as im %}
						<div class="col-md-offset-2 col-md-8">
							<h2 class="col-md-12 img img-circle" style="border:1px solid blue">{{i}}</h2>
							<p>
							<img  class="img img-rounded" src="{{im.url}}" alt="..." width="{{im.width}}" height="{{im.height}}"><br><br><br>
							</p>
						</div>
					{% endthumbnail %}
				
			{% endfor %}
			</center>
				

			</div>

			
	{% endblock %}

	{% block js %}
		<script type="text/javascript">
			$(document).ready(function() {
				$("p").hide();

				$("h2").click(function() {
					$(this).next().slideToggle(300);
				});
			});
		</script>
	{% endblock %}
